<% if flash %>
    $(".flash-messages").html("<%= j render partial: 'shared/flashes' %>");
<% end %>

<% if @country.scan_ftp_status == "In process" %>
  $(".scan-ftp").html("")
  $(".scan-ftp").html("<p class='text-success'>Ftp Scan in Process</p>")
<% elsif @country.scan_ftp_status == "Not started" && @country.scan_ftp_status == "Completed successfully" %>
  $(".scan-ftp").html("")
  $(".scan-ftp").html("<a href='<%= scan_ftp_anonymous_country_path(@country) %>', data-remote='true', class='ftp-anonymous-scan-link btn btn-secondary'>FTP-Anonymous</a>")  
<% end %>